<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANJkiHFs0727Unn4JId7XGxEnvcpi5j4E</string>
	<key>GCM_SENDER_ID</key>
	<string>495726173964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.washly</string>
	<key>PROJECT_ID</key>
	<string>wishy-c0153</string>
	<key>STORAGE_BUCKET</key>
	<string>wishy-c0153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495726173964:ios:2ee88f3a9d1309be6e7329</string>
</dict>
</plist>